.mainDiv {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #222;
}

.flexDiv {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  gap: 10px;
}

img {
  border-radius: 15px;
}
